{% extends theme("base.html") %}

{% set meta = {
    'title': "Праћење публике и приватност",
    'description': "Праћење публике и приватност на порталу отворених података",
} %}

{% block breadcrumb %}
<li class="active">Праћење публике и приватност</li>
{% endblock %}

{% block content %}
<section class="default">
    <div class="hagrid py-xl">
        <article class="suivi col-sm-12">
            <h1>Праћење публике и приватност</h1>

            <h2>Депоновани колачићи и одустајање</h2>

            <p class="text-justify">
                Ова локација поставља малу текстуалну датотеку („колачић“) на ваш рачунар пошто је посетите.
                Ово нам омогућава да измеримо број посета и да разумемо које странице су највише посећене.
            </p>

            <iframe class="well well-grey-100 my-md w-100" height="150"
                src="https://stats.data.gouv.fr/index.php?module=CoreAdminHome&action=optOut&language=fr"></iframe>

            <h2>Овај сајт не приказује банер сагласности за колачиће, зашто?</h2>

            <p class="text-justify">
                Само следимо правила која кажу да неки алати за праћење публике, исправно
                конфигурисани да поштују приватност, изузети су од претходног овлашћења.
            </p>

            <p class="text-justify">
                Користимо за ово <a href="https://matomo.org">Matomo</a>, једну <a
                    href="https://matomo.org/free-software/">отворену</a> алатку,
                    конфигурисану да буде у складу са препорукама за 
                    колачиће. То значи да је ваша ИП адреса, на пример, анонимизована пре него што буде сачувана.
                    Стога је немогуће повезати ваше посете овом сајту са вашим идентитетом.
            </p>
            
        </article>
    </div>
</section>
{% endblock %}
